h1, p {
    text-align: center;
}

.link0,
.link1,
.link2 {
    font-size: 20px;
}

.link0 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.link1 {
    color: green;
    background-color: wheat;
}

.link2 {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 30px;
    color:pink
}